<div class="container">
  <h1>Edit Career Goal - from <%= @talent.username %></h1>

  <div class="row">
    <%= render "admin/talent/career_goals/career_goal_form", talent: @talent, career_goal: @career_goal %>
  </div>
</div>
