<main class="main-content">
  <div class="container-grid">
    <div class="secondary-content">
      <%= react_component("QuestShow",
        props: {
          quest: @quest
        },
        prerender: false) %>
    </div>
  </div>
</main>
