<main id="clearance" class="mx-auto d-flex px-4 flex-column justify-content-center align-items-center sign-in h-100">
  <%= react_component("Logo",
    props: { width: "100%", height: 50},
    prerender: false, html_options: { class: "my-3" })
  %>

  <div class="border p-3 p-md-5 registration-box bg-white">
    <h1 class="h2"><%= t(".title") %></h1>

    <%= render partial: '/sessions/form' %>
  </div>
</main>
