<div class="col-12 col-lg-9 lg-overflow-scroll px-0 d-flex flex-column flex-lg-row">
  <main id="clearance" class="col-12 px-3 mx-auto mx-lg-0 px-0 d-flex flex-column sign-in">
    <h2 class="mt-4"><%= t(".title") %></h2>

    <p>Sign in with metamask or email/password</p>

    <%= render partial: '/sessions/metamask_form' %>

    <hr class="col-12">

    <%= render partial: '/sessions/form' %>


  </main>
</div>
