<main class="lg-overflow-y-scroll border-left lg-h-100">
  <%= react_component("Home", props: {
    user: {
      id: current_user.id,
      profilePictureUrl: current_user.talent&.profile_picture_url || current_user.investor&.profile_picture_url,
      displayName: current_user.display_name.blank? ? current_user.username : current_user.display_name,
      talentId: current_user.talent&.id,
      investorId: current_user.investor&.id,
      isTalent: current_user.talent.present?,
      displayWalletId: current_user.display_wallet_id,
      walletId: current_user.wallet_id,
      username: current_user.username,
    },
    activeTalents: @active_talents.map { |tal| { id: tal.id, name: tal.user.display_name || tal.user.username, username: tal.user.username, ticker: tal.token.ticker, token_contract_id: tal.token.contract_id, profilePictureUrl: tal.profile_picture_url } },
    upcomingTalents: @active_talents.map { |tal| { id: tal.id, name: tal.user.display_name || tal.user.username, username: tal.user.username, ticker: tal.token.ticker, profilePictureUrl: tal.profile_picture_url }},
    posts: @posts.map(&:to_json),
    signOutPath: sign_out_path,
  }, prerender: false, html_options: { class: "d-flex flex-row-reverse flex-lg-row  w-100 lg-h-100" }) %>
</main>
