<main class="lg-overflow-y-scroll border-left lg-h-100">
  <%= react_component("Home", props: {
    user: {
      id: current_user.id,
      profilePictureUrl: current_user.talent&.profile_picture_url || current_user.investor&.profile_picture_url,
      displayName: current_user.display_name.blank? ? current_user.username : current_user.display_name
    },
    posts: @posts.map(&:to_json),
  }, prerender: false, html_options: { class: "d-flex flex-row w-100 lg-h-100" }) %>
</main>
