<div class="container">
  <h1>New Reward - for <%= @talent.username %></h1>

  <div class="row">
    <%= render "admin/talent/rewards/reward_form", talent: @talent, reward: @reward %>
  </div>
</div>
