<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= t(".opening") %></p>
    <p>
      <%= link_to t(".link_text", default: "Change my password"),
        url_for([@user, :password, action: :edit, token: @user.confirmation_token]) %>
    </p>
    <p><%= t(".closing") %></p>
  </body>
  <footer>
    <br>
    <h4>Talent Protocol</h4>
  </footer>
</html>
