<h3 class="mb-10">Set a new password</h3>
<p class="w-full lh-lg text-md text-secondary mb-10">
  High potential talent also forget their passwords, right?
  <br/>
  Use the link below to reset the password of your Talent Protocol account.
</p>
<%= link_to t(".link_text", default: "Change my password"), url_for([@user, :password, action: :edit, token: @user.confirmation_token]), class: "btn btn-primary fw-800 py-4 mb-10 w-full text-5xl" %>