<h3 class="mb-10 main-title">It's time to tell a little bit more about yourself.</h3>
<p class="w-full lh-lg text-lg mb-10 primary-3 paragraph">
  We know for a fact that a detailed profile attracts more believers to your career journey so you should definitely work on your <a href="https://blog.talentprotocol.com/career-goals-guide/"> Pitch, Challenges and Roadmap</a>.
</p>
<p class="w-full lh-lg text-lg mb-10 primary-3 paragraph">
  <strong>Perks</strong> are also important: think about what could be meaningful for your supporters but also doable from your side.
</p>
<p class="w-full lh-lg text-lg mb-10 fw-700 primary-3 paragraph">
  Complete your profile, launch your token and automatically get 2,000 Talent Tokens (worth $200).
</p>
<p class="w-full lh-lg text-lg mb-10 primary-3 paragraph">
  Remember: Talent Protocol is a community invested in collective success. If you're struggling with completing your Talent Protocol profile, reach out to us on Discord and we’ll help you to build a top-notch talent page for yourself.
</p>
