<h3 class="mb-6 main-title mt-4">Are you ready? 🚀</h3>
<p class="w-full mb-6 primary-3 paragraph">
  Now that your profile is done, it’s time to launch your own token.
</p>
<p class="w-full mb-3 primary-3 paragraph">
  Allow us to remind you way you should go it:
  <ol class="w-full mb-6 primary-3 paragraph content-list">
    <li>When you launch your token, people will be able to back up your professional journey and become committed to your success.</li>
    <li>You become accountable for the goals and perks on your profile - a great way to keep up your efforts!</li>
    <li>As soon as you launch your token, you will get <strong>2,000 tokens worth 200$USD</strong>.</li>
    <li>It's cool.</li>
  </ol>
</p>

<p class="w-full mb-10 primary-3 paragraph">
  Let’s do this! 🚀
</p>

<p class="w-full mb-10 primary-3 paragraph">
  <i>If you see any bugs, get stuck in the process, or have suggestions, please write in our #support channel on <a class="content-link" href="https://discord.gg/37HePUGeSa">Discord</a> or reply to this email.</i>
</p>
