<body>
  <div class="bg-white">
    <div class="container">
      <img class="ax-center my-10 w-96" src="https://uploads-ssl.webflow.com/614c58bdb680d059cc100ca6/61606238aa310bd1549a2bf4_main-logo.svg" />
      <h3 class="ax-center text-center mb-10">Welcome to Talent Protocol!</h3>
      <p class="ax-center max-w-96 lh-lg text-lg mb-10">
        You are almost done, <%= @user.username %>! To complete your talent protocol sign-up, we just need to verify your email address: <%= @user.email %>.
      </p>
      <%= link_to "Verify my email", confirm_email_url(token: @user.email_confirmation_token), class: "btn btn-primary rounded-full fw-800 text-5xl py-4 ax-center mb-10 w-full w-lg-80" %>
      <p class="ax-center text-center text-primary"><a href="https://www.talentprotocol.com/">@talentprotocol</a></p>
      <p class="ax-center text-center text-primary"><small><a href="https://twitter.com/talentprotocol">twitter</a> | <a href="https://discord.com/invite/CBMaQnrcqj">discord</a> | <a href="https://t.me/talentprotocol">telegram</a></small></p>
    </div>
  </div>
</body>
