<h3 class="mb-10 main-title mt-4">Welcome, <%= @user.username %>! 👋</h3>
<p class="w-full mb-10 primary-3 paragraph">
  Thank you for joining Talent Protocol.
  <br/>
  Please <strong>confirm your email address</strong> to complete your registration.
</p>
<%= link_to "Verify my email", confirm_email_url(token: @user.email_confirmation_token), class: "btn btn-primary fw-800 text-5xl py-4 mb-5 w-full" %>