<body>
  <div class="bg-white">
    <div class="container">
      <div class="row my-10 max-w-96 ax-center">
        <div class="col-2 ay-middle">
          <img class="img-fluid ay-middle" alt="talent protocol logo" src="https://beta.talentprotocol.com/brand_logo.png" />
        </div>
        <div class="col-10 ay-middle">
          <img class="img-fluid ay-middle" alt="talent protocol name" src="https://beta.talentprotocol.com/brand_name.png" />
        </div>
      </div>
      <h3 class="ax-center text-center mb-10">You're in!</h3>
      <p class="ax-center max-w-96 lh-lg text-lg mb-10">
        Welcome to talent protocol, the decentralized platform for discovering and supporting Talent. Here is the code you can use to register: <strong class="text-primary"><%= @invite.code %></strong>
      </p>
      <%= link_to "Sign up", sign_up_url(code: @invite.code), class: "btn btn-primary rounded-full fw-800 text-5xl py-4 ax-center mb-10 w-full w-lg-80" %>
      <p class="ax-center text-center text-primary"><a href="https://www.talentprotocol.com/">@talentprotocol</a></p>
      <p class="ax-center text-center text-primary"><small><a href="https://twitter.com/talentprotocol">twitter</a> | <a href="https://discord.com/invite/CBMaQnrcqj">discord</a> | <a href="https://t.me/talentprotocol">telegram</a></small></p>
    </div>
  </div>
</body>
