<% if @user.talent? %>
  <h3 class="mb-10">Talent is like a little seed; when nurtured it will flourish 🌱</h3>
  <p class="w-full lh-lg text-lg mb-5 text-secondary">
    Welcome to the web3 professional network for high-potential talent.
  </p>
  <p class="w-full lh-lg text-md mb-5 text-secondary">
    Launching a token will help you transform your professional network into an engaged community of supporters. 👯
  </p>
  <p class="w-full lh-lg text-md mb-5 text-secondary">
    <strong>You can start your journey with our <a href="https://talentprotocol.notion.site/Talent-Onboarding-Guide-4a7fcc0ede144f8296c418bb173e45ff">Onboarding Guide</a> to set up your account, launch your token, and find your first supporters.</strong>
  </p>

  <p class="w-full lh-lg text-md mb-5 text-secondary">
    <strong>Keep in mind:</strong>
    <ul class="w-full mb-5 text-secondary">
      <li>All Talent Tokens and the money backing them are real.</li>
      <li>You will receive <strong>2,000 of your tokens</strong> as a sign-up bonus (worth $200) to start earning daily rewards😮. Moreover, you get a small CELO airdrop to cover the gas fees.</li>
      <li>You are among the first people to use Talent Protocol so if you see any bugs, get stuck in the process, or have suggestions, please write in our #support channel on <a href="https://discord.gg/37HePUGeSa">Discord</a> or reply to this email.</li>
    </ul>
  </p>
<% else %>
  <h3 class="mb-10">Welcome to the professional network for high-potential talent.</h3>
  <p class="w-full lh-lg text-lg mb-5 text-secondary">
    You're now officially able to support the talented people you believe in!
  </p>
  <p class="w-full lh-lg text-md mb-5 text-secondary">
    Backing professional journeys is great but doing so and earning rewards at the same time is even better 😉.
  </p>
  <p class="w-full lh-lg text-md mb-5 text-secondary">
    <strong>Start your journey with our <a href="https://talentprotocol.notion.site/Talent-Onboarding-Guide-4a7fcc0ede144f8296c418bb173e45ff">Onboarding Guide</a> to set up your account, explore the platform, and support your first talent by getting their token👯.</strong>
  </p>

  <p class="w-full lh-lg text-md mb-5 text-secondary">
    <strong>Keep in mind:</strong>
    <ul class="w-full mb-5 text-secondary">
      <li>Talent Protocol is still in early Beta but live on the Celo blockchain.</li>
      <li>All Talent Tokens and the money backing them are real.</li>
      <li>Beta users have the privilege to get Talent Tokens with cUSD which will be converted into TAL at a discounted price ($0.02) when the token goes public. Moreover, you get a small CELO airdrop to cover the gas fees</li>
      <li>By becoming an active supporter, you’ll get the chance of getting rewards 😮. Check the Quests section on your profile to learn more.</li>
    </ul>
  </p>
  <p class="w-full lh-lg text-md mb-5 text-secondary">
    Let’s do this! 🚀
  </p>
<% end %>
