<h3 class="ax-center text-center mb-10">Hi <%= @user.username%></h3>
<p class="w-full lh-lg text-lg mb-10">
  It's been a while since you signed up at <%= link_to 'talent protocol', talent_index_url %>, but you haven't tried buying a talent token yet.
</p>
<p class="w-full lh-lg text-lg mb-10">
  If you felt any difficulty using the platform, we suggest following <a href="https://talentprotocol.notion.site/Supporter-Onboarding-Guide-1b9a378cb8224ba89ea5aff69cbf5735">this step by step guide</a> or reach out to us on Discord (filmacedo#9596) or at filipe@talentprotocol.com.
</p>
<p class="w-full lh-lg text-lg mb-10">
  Remember that, in this season, you have access to the $TAL token at a discounted price, beta users are earning a high amount of rewards every week, and Talent Protocol covers the gas fees.
</p>
<p class="w-full lh-lg text-lg mb-10">
  Let’s do this! 🚀
</p>
