<h3 class="mb-6 main-title">Set a new password</h3>
<p class="w-full mb-10 primary-3 paragraph">
  High potential talent also forget their passwords, right?
  <br/>
  Use the link below to reset the password of your Talent Protocol account.
</p>
<%= link_to t(".link_text", default: "Change my password"), url_for([@user, :password, action: :edit, token: @user.confirmation_token]), class: "btn btn-primary fw-800 text-5xl py-4 mb-5 w-full" %>
