<body>
  <div class="bg-white">
    <div class="container">
      <div class="row my-10 max-w-80 ax-center">
        <div class="col-2 ay-middle">
          <img class="img-fluid ay-middle" alt="talent protocol logo" src="https://beta.talentprotocol.com/brand_logo.png" />
        </div>
        <div class="col-10 ay-middle">
          <img class="img-fluid ay-middle" alt="talent protocol name" src="https://beta.talentprotocol.com/brand_name.png" />
        </div>
      </div>
      <h3 class="ax-center text-center mb-10">Hi <%= @user.username%></h3>
      <p class="w-full lh-lg text-lg mb-10">
        It's been a while since you signed up at <%= link_to root_path %>, but you haven't tried buying a talent token yet.
      </p>
      <p class="w-full lh-lg text-lg mb-10">
        If you felt any difficulty using the platform, I suggest following <a href="https://talentprotocol.notion.site/Supporter-Onboarding-Guide-1b9a378cb8224ba89ea5aff69cbf5735">this</a> step by step guide or replying to this email and I'll gladly help.
      </p>
      <p class="w-full lh-lg text-lg mb-10">
        Remember that, in this season, you have access to the $TAL token at a discounted price, beta users are earning a high amount of rewards every week, and Talent Protocol covers the gas fees.
      </p>
      <p class="w-full lh-lg text-lg mb-10">
        Let’s do this! 🚀
      </p>
      <p class="ax-center text-center text-primary"><a href="https://www.talentprotocol.com/">@talentprotocol</a></p>
      <p class="ax-center text-center text-primary"><small><a href="https://twitter.com/talentprotocol">twitter</a> | <a href="https://discord.com/invite/CBMaQnrcqj">discord</a> | <a href="https://t.me/talentprotocol">telegram</a></small></p>
    </div>
  </div>
</body>
