<body>
  <div class="bg-white">
    <div class="container">
      <img class="ax-center my-10 w-96" src="https://uploads-ssl.webflow.com/614c58bdb680d059cc100ca6/61606238aa310bd1549a2bf4_main-logo.svg" />
      <h3 class="ax-center text-center mb-10">Reset your password</h3>
      <p class="ax-center max-w-96 lh-lg text-lg mb-10">
        We received a request to reset your password. <br>
        Use the link below to set up a new password for you account. If you did not request to reset your password, ignore this email.
      </p>
      <%= link_to t(".link_text", default: "Change my password"),
        url_for([@user, :password, action: :edit, token: @user.confirmation_token]),
        class: "btn btn-primary rounded-full fw-800 text-5xl py-4 ax-center mb-10 w-full w-lg-80" %>
      <p class="ax-center text-center text-primary"><a href="https://www.talentprotocol.com/">@talentprotocol</a></p>
      <p class="ax-center text-center text-primary"><small><a href="https://twitter.com/talentprotocol">twitter</a> | <a href="https://discord.com/invite/CBMaQnrcqj">discord</a> | <a href="https://t.me/talentprotocol">telegram</a></small></p>
    </div>
  </div>
</body>
