<h3 class="mb-6 main-title mt-4">When you support a talent, you get $TAL rewards</h3>
<p class="w-full mb-6 sub-title">
  We know you’ve joined recently but we’ve noticed that you haven’t bought any talent tokens yet. At Talent Protocol, supporters get rewards - so you shouldn’t miss out on that.
</p>
<p class="w-full mb-6 primary-3 paragraph">
  The Talent Tokens you purchase now with USD get later converted to $TAL at a discounted price. That means you are effectively buying TAL at a discount, and you know what they say about getting in a project early…
</p>
<p class="w-full mb-6 primary-3 paragraph">
  Remember that if you get stuck, you can reach out to us on <a class="content-link" href="https://discord.gg/37HePUGeSa">Discord</a> if you cannot find the answer in the <a class="content-link" href="https://talentprotocol.notion.site/Talent-Onboarding-Guide-4a7fcc0ede144f8296c418bb173e45ff">Onboarding Guide</a>.
</p>

<p class="w-full mb-6 primary-3 paragraph">
  Hoping to see you backing talent on the protocol soon 🙌!
</p>

<p class="w-full mb-10 primary-3 paragraph">
  Let’s do this🚀
</p>
