<h3 class="ax-center text-center mb-10">Reset your password</h3>
<p class="w-full lh-lg text-lg mb-10">
  We received a request to reset your password. <br>
  Use the link below to set up a new password for you account. If you did not request to reset your password, ignore this email.
</p>
<%= link_to t(".link_text", default: "Change my password"),
  url_for([@user, :password, action: :edit, token: @user.confirmation_token]),
  class: "btn btn-primary rounded-full fw-800 text-5xl py-4 ax-center mb-10 w-full w-lg-80" %>
