<h3 class="mb-10">Welcome, <%= @user.username %>! 👋</h3>
<p class="w-full lh-lg text-md text-secondary mb-10">
  Thank you for joining Talent Protocol.
  <br/>
  Please <strong>confirm your email address</strong> to complete your registration.
</p>
<%= link_to "Verify my email", confirm_email_url(token: @user.email_confirmation_token), class: "btn btn-primary fw-800 py-4 mb-10 w-full text-5xl" %>