<body>
  <div class="bg-white">
    <div class="container">
      <div class="row my-10 max-w-80 ax-center">
        <div class="col-2 ay-middle">
          <img class="img-fluid ay-middle" alt="talent protocol logo" src="https://beta.talentprotocol.com/brand_logo.png" />
        </div>
        <div class="col-10 ay-middle">
          <img class="img-fluid ay-middle" alt="talent protocol name" src="https://beta.talentprotocol.com/brand_name.png" />
        </div>
      </div>
      <% if @user.talent? %>
        <h3 class="ax-center text-center mb-10">Congratulations <%= @user.username %>!</h3>
        <p class="w-full lh-lg text-lg mb-10">
          You're one of the trailblazers launching a token on Talent Protocol's 1st season!
        </p>
        <p class="w-full lh-lg text-lg mb-10">
          A talent token will help transform your loose professional network into a community of committed supporters. 
        </p>
        <p class="w-full lh-lg text-lg mb-10">
          Start by reading <a href="https://talentprotocol.notion.site/Talent-Onboarding-Guide-4a7fcc0ede144f8296c418bb173e45ff">this onboarding guide</a> that will help you set up your account, explore the platform and buy your first Talent Tokens.
        </p>
        <p class="w-full lh-lg text-lg mb-10">
          We're still in early beta, but already live on the Celo blockchain, which means all tokens (and the money backing them) are real. 💸
        </p>
        <p class="w-full lh-lg text-lg mb-10">
          In this first season, beta users like you will have access to the $TAL token at a fixed and discounted price, and will be able to earn a high amount of weekly rewards. 💎
        </p>
        <p class="w-full lh-lg text-lg mb-10">
          Thank you for being an early believer in the project.
        </p>
        <p class="w-full lh-lg text-lg mb-10">
          Let's do this! 💪
        </p>
      <% else %>
        <h3 class="ax-center text-center mb-10">Welcome <%= @user.username %>!</h3>
        <p class="w-full lh-lg text-lg mb-10">
          You're officially part of Talent Protocol, the platform where talent can launch a social token to accelerate their career, and where supporters can discover new talent, back people they believe in and earn rewards while doing so. 💎
        </p>
        <p class="w-full lh-lg text-lg mb-10">
          Start by reading <a href="https://talentprotocol.notion.site/Supporter-Onboarding-Guide-1b9a378cb8224ba89ea5aff69cbf5735">this onboarding guide</a> that will help you set up your account, explore the platform and buy your first Talent Tokens.
        </p>
        <p class="w-full lh-lg text-lg mb-10">
          We're still in early beta, but already live on the Celo blockchain, which means all tokens (and the money backing them) are real. 💸
        </p>
        <p class="w-full lh-lg text-lg mb-10">
          In this first season, beta users like you will have access to the $TAL token at a fixed and discounted price, and will be able to earn a high amount of weekly rewards.
        </p>
        <p class="w-full lh-lg text-lg mb-10">
          Thank you for being an early believer in the project.
        </p>
        <p class="w-full lh-lg text-lg mb-10">
          Let's do this! 💪
        </p>
      <% end %>
      <p class="ax-center text-center text-primary"><a href="https://www.talentprotocol.com/">@talentprotocol</a></p>
      <p class="ax-center text-center text-primary"><small><a href="https://twitter.com/talentprotocol">twitter</a> | <a href="https://discord.gg/talentprotocol">discord</a> | <a href="https://t.me/talentprotocol">telegram</a></small></p>
    </div>
  </div>
</body>
