<main class="main-content"> 
  <%= react_component("Profile", props:
    {
      talent: @talent.as_json,
      profilePictureUrl: @talent.profile_picture_url,
      bannerUrl: @talent.banner_url,
      primary_tag: @talent.primary_tag&.description,
      secondary_tags: @talent.tags.where.not(primary: true).map(&:description),
      token: @talent.token.as_json,
      perks: @talent.perks.as_json,
      career_goal: @talent.career_goal.as_json,
      goals: @talent.career_goal.present? ? @talent.career_goal&.goals.order(:due_date) : [],
      milestones: @talent.milestones.as_json,
      current_user_id: current_user.id,
      token_live: @talent.token.deployed?,
      user: { id: @talent.user_id, email: @talent.user.email, username: @talent.user.username, display_name: @talent.user.display_name, wallet_id: @talent.user.wallet_id },
      posts: @talent.user.posts.as_json,
      badges: @talent.badges.map { |badge| { id: badge.id, name: badge.name, imageUrl: badge.image_url, url: badge.url, alt: badge.alt } },
      sign_up_path: sign_up_path(code: current_user.invite&.code)
    }, prerender: false)
  %>
</main>
