<main class="main-content">
  <div class="container-grid">
    <%= react_component("Profile", props:
      {
        talent: @talent.as_json,
        profilePictureUrl: @talent.profile_picture_url,
        bannerUrl: @talent.banner_url,
        tags: @talent.tags.map(&:description),
        token: @talent.token.as_json,
        perks: @talent.perks.as_json,
        career_goal: @talent.career_goal.as_json,
        goals: @talent.career_goal.present? ? @talent.career_goal&.goals.order(:due_date) : [],
        milestones: @talent.milestones.as_json,
        current_user_id: current_user.id,
        token_live: @talent.token.deployed?,
        user: { id: @talent.user_id, email: @talent.user.email, username: @talent.user.username, display_name: @talent.user.display_name, messaging_disabled: @talent.user.messaging_disabled, wallet_id: @talent.user.wallet_id },
        posts: @talent.user.posts.as_json,
        invites: current_user.invites.as_json,
      }, prerender: false)
    %>
  </div>
</main>
