<div class="lg-overflow-y-scroll px-0 d-flex flex-column flex-lg-row w-100 border-left">
  <main class="d-flex flex-column col-12 p-3 h-100">
    <%= react_component("ActiveTalents",
      props: {
        talents: @active_talents.map { |talent| { id: talent.id, profilePictureUrl: talent.profile_picture_url, contract_id: talent.token.contract_id, occupation: talent.occupation, ticker: talent.token.ticker, name: talent.user.display_name || talent.user.username }}
      },
      prerender: false) %>
    <%= react_component("UpcomingTalents",
      props: {
        talents: @upcoming_talents.map { |talent| { id: talent.id, profilePictureUrl: talent.profile_picture_url, occupation: talent.occupation, name: talent.user.display_name || talent.user.username }}
      },
      prerender: false) %>
  </main>
</div>
