<main class="main-content">
  <div class="container-grid">
    <div class="secondary-content">
      <%= react_component("TalentPage",
        props: {
          talents: @talents.order(username: :desc).map { |talent| { id: talent.id, profilePictureUrl: talent.profile_picture_url, contractId: talent.token.contract_id, occupation: talent.occupation, headline: talent.headline, ticker: talent.token.ticker, isFollowing: current_user.following.where(user_id: talent.user_id).exists?, username: talent.user.username, name: talent.user.display_name || talent.user.username, userId: talent.user_id }}
        },
        prerender: false) %>
    </div>
  </div>
</main>
