<main class="main-content">
  <div class="container-grid">
    <div class="secondary-content">
      <%= react_component("TalentPage",
        props: {
           talents: @talents.map { |talent|
            {
              id: talent["id"],
              profilePictureUrl: talent["profile_picture_url"],
              occupation: talent["occupation"],
              headline: talent["headline"],
              supportersCount: talent["supporters_count"],
              token: {
                ticker: talent["token"]["ticker"],
                contractId: talent["token"]["contract_id"],
                deployedAt: talent["token"]["deployed_at"],
              },
              user: {
                username: talent["user"]["username"],
                name: talent["user"]["display_name"] || talent["user"]["username"]
              },
              isFollowing: talent['is_following'],
              userId: talent["user_id"],
              isVerified: talent["verified"]
            }
          },
          isAdmin: current_user.admin?
        },
        prerender: false) %>
    </div>
  </div>
</main>
