<main class="main-content">
  <div class="container-grid">
    <div class="secondary-content">
      <%= react_component("TalentPage",
        props: {
          talents: @talents.map { |talent|
            {
              id: talent.id,
              profilePictureUrl: talent.profile_picture_url,
              occupation: talent.occupation,
              headline: talent.headline,
              supporterCounter: talent.supporters_count.to_s,
              totalSupply: talent.total_supply.to_s,
              maxSupply: Talent.max_supply.to_s,
              token: {
                ticker: talent.token.ticker,
                contractId: talent.token.contract_id,
                chainId: talent.token.chain_id
              },
              user: {
                username: talent.user.username,
                name: talent.user.display_name || talent.user.username
              },
              isFollowing: current_user.following.where(user_id: talent.user_id).exists?,
              userId: talent.user_id
            }
          }
        },
        prerender: false) %>
    </div>
  </div>
</main>
