<div class="lg-overflow-y-scroll px-0 d-flex flex-column flex-lg-row w-100">
  <section class="d-flex flex-column col-12 px-0">
    <%= react_component("TalentShow", props:
      {
        talent: @talent.as_json,
        profilePictureUrl: @talent.profile_picture_url,
        primary_tag: @talent.primary_tag.description,
        secondary_tags: @talent.tags.where.not(primary: true).map(&:description),
        services: @talent.services.as_json,
        token: @talent.token.as_json,
        perks: @talent.perks.as_json,
        career_goal: @talent.career_goal.as_json,
        goals: @talent.career_goal.present? ? @talent.career_goal&.goals.order(:due_date) : [],
        milestones: @talent.milestones.as_json,
        current_user_id: current_user.id,
        token_live: @talent.token.deployed?,
        isFollowing: current_user.follows.where(user_id: @talent.user.id).exists?,
        user: { id: @talent.user_id, email: @talent.user.email, username: @talent.user.username, display_name: @talent.user.display_name, wallet_id: @talent.user.wallet_id },
        posts: @talent.user.posts.as_json,
        badges: @talent.badges.map { |badge| { id: badge.id, name: badge.name, imageUrl: badge.image_url, url: badge.url, alt: badge.alt } }
      }, prerender: false, html_options: { class: "bg-white"})
    %>
  </section>
</div>