<div class="container">
  <h1>Talent</h1>

  <dl class="row">
    <dt class="col-md-3">ID</dt>
    <dd class="col-md-9"><%= @talent.id %></dd>

    <dt class="col-md-3">Username</dt>
    <dd class="col-md-9"><%= @talent.username %></dd>

    <dt class="col-md-3">Wallet ID</dt>
    <dd class="col-md-9"><%= @talent.wallet_id %></dd>

    <dt class="col-md-3">Description</dt>
    <dd class="col-md-9"><%= @talent.description %></dd>
  </dl>
</div>
