<div class="col-12 col-lg-9 lg-overflow-y-scroll px-0 d-flex flex-column flex-lg-row">
  <section class="col-lg-7 mx-auto mx-lg-0 px-0 d-flex flex-column">
    <%= react_component("TalentShow", props:
      {
        talent: {
          id: @talent.id,
          publicProfile: @talent.public,
          userId: @talent.user.id,
          username: @talent.username,
          description: @talent.description,
          ticker: @talent.token&.display_ticker,
          tags: @talent.tags.map(&:description),
          linkedinUrl: @talent.linkedin_url,
          profilePictureUrl: @talent.profile_picture_url,
          youtubeUrl: @talent.youtube_url
        },
        currentUserId: current_user.id,
        tokenDeployed: @talent.token&.deployed? || false,
        careerGoal: { id: @talent.career_goal&.id, description: @talent.career_goal&.description },
        rewards: @talent.rewards.map { |reward| { id: reward.id, required_amount: reward.required_amount, display_required_amount: reward.required_amount&.to_s(:delimited), description: reward.description, required_text: reward.required_text } }
      }, prerender: false, html_options: { class: "py-3 pt-3 px-3 bg-white border-right"})
    %>
  </section>
  <section class="col-lg-5 p-4">
    <div>
      <%= react_component("TalentToken", props:
        {
          ticker: @talent.token&.ticker,
          price: @talent.token&.display_price,
          marketCap: @talent.token&.display_market_cap,
          sponsors: @talent.investors.count,
          circulatingSupply: @talent.token&.transactions&.sum(:amount),
          priceVariance7d: @talent.token.variance7d.round(2).to_s(:delimited),
          priceVariance30d: @talent.token.variance30d.round(2).to_s(:delimited),
          active: @talent.active?,
          talentUserId: @talent.user.id != current_user.id && @talent.user.id,
        }, prerender: false)
      %>
    </div>
    <div class="mt-lg-5 mt-3 mb-2">
      <%= react_component("TalentLeaderboard", props:
        {
          topTalents: @talent_leaderboard.map { |tal| { id: tal.id, name: tal.username, ticker: tal.token.display_ticker, price: tal.token.display_price, profilePictureUrl: tal.profile_picture_url } }
        }, prerender: false)
      %>
    </div>
  </section>
</div>