<div class="col-12 col-lg-9 lg-overflow-y-scroll px-0 d-flex flex-column flex-lg-row">
  <section class="col-lg-7 mx-auto mx-lg-0 px-0 d-flex flex-column">
    <%= react_component("TalentShow", props:
      {
        talent: @talent.as_json,
        profilePictureUrl: @talent.profile_picture_url,
        primary_tag: @talent.primary_tag.description,
        secondary_tags: @talent.tags.where.not(primary: true).map(&:description),
        services: @talent.services.as_json,
        token: @talent.token.as_json,
        perks: @talent.perks.as_json,
        career_goal: @talent.career_goal.as_json,
        goals: @talent.career_goal.present? ? @talent.career_goal&.goals.order(:due_date) : [],
        milestones: @talent.milestones.as_json,
        current_user_id: current_user.id,
        token_live: @talent.token.deployed?,
        user: { id: @talent.user_id, email: @talent.user.email, username: @talent.user.username, display_name: @talent.user.display_name, wallet_id: @talent.user.wallet_id },
        posts: @talent.user.posts.as_json,
      }, prerender: false, html_options: { class: "bg-white border-right"})
    %>
  </section>
  <section class="col-lg-5 p-4">
    <div>
      <%= react_component("TalentToken", props:
        {
          talentId: @talent.id,
          ticker: @talent.token&.ticker,
          sponsors: @talent.investors.distinct(:id).count,
          circulatingSupply: @talent.token&.transactions&.sum(:amount),
          priceVariance7d: @talent.token.variance7d.round(2).to_s(:delimited),
          priceVariance30d: @talent.token.variance30d.round(2).to_s(:delimited),
          active: @talent.active?,
          talentUserId: @talent.user.id != current_user.id && @talent.user.id,
          tokenAddress: @talent.token&.contract_id,
          talentName: @talent.user.username
        }, prerender: false)
      %>
    </div>
    <div class="mt-lg-5 mt-3 mb-2">
      <%= react_component("TalentLeaderboard", props:
        {
          topTalents: @talent_leaderboard.map { |tal| { id: tal.id, name: tal.username, ticker: tal.token.display_ticker, token_contract_id: tal.token.contract_id, profilePictureUrl: tal.profile_picture_url } }
        }, prerender: false)
      %>
    </div>
  </section>
</div>