<div class="col-12 col-lg-9 flex-grow-0 flex-shrink-0 lg-overflow-hidden px-0 d-flex flex-column flex-lg-row">
  <section class="col-12 col-lg-7 mx-auto mx-lg-0 px-0 d-flex flex-column lg-overflow-scroll bg-white border-right pt-3 px-3">
    <%= react_component("TalentShow", props:
      {
        talent: {
          userId: @talent.user.id,
          username: @talent.username,
          description: @talent.description,
          ticker: @talent.coin.display_ticker,
          tags: @talent.tags,
          linkedinUrl: @talent.linkedin_url,
          profilePictureUrl: @talent.profile_picture_url,
          youtubeUrl: @talent.youtube_url
        },
        careerGoals: [{ description: @talent.career_goal&.description }],
        rewards: @talent.rewards.map { |reward| { required_amount: reward.required_amount.to_s(:delimited), description: reward.description } },
        isFollowing: @is_following
      }, prerender: false, html_options: { class: "py-3"})
    %>
  </section>
  <section class="col-12 col-lg-5 p-4 border-right lg-overflow-hidden">
    <div>
      <%= react_component("TalentCoin", props:
        {
          ticker: @talent.coin.ticker,
          price: @talent.coin.display_price,
          marketCap: @talent.coin.display_market_cap,
          sponsors: @talent.investors.count,
          circulatingSupply: "5837",
          priceVariance7d: "-2.14",
          priceVariance30d: "29.39"
        }, prerender: false)
      %>
    </div>
    <div class="mt-lg-5 mt-3 mb-2">
      <%= react_component("TalentLeaderboard", props:
        {
          topTalents: @talent_leaderboard.map { |tal| { id: tal.id, name: tal.username, ticker: tal.coin.display_ticker, price: tal.coin.display_price, profilePictureUrl: tal.profile_picture_url } }
        }, prerender: false)
      %>
    </div>
  </section>
</div>