<main class="main-content">
  <div class="container-grid">
    <% if current_user.nil? %>
      <%= react_component("LoggedOutTopBar", props:
        {
        }, prerender: false)
      %>
    <% end %>
    <%= react_component("TalentShow", props:
      {
        talent: @talent,
        profilePictureUrl: @talent["profile_picture_url"],
        bannerUrl: @talent["banner_url"],
        tags: @talent["tags"].map { |tag| tag["description"] },
        token: @talent["token"],
        perks: @talent["perks"],
        careerGoal: @talent["career_goal"],
        goals: @talent["career_goal"]["goals"],
        milestones: @talent["milestones"],
        currentUserId: current_user&.id,
        tokenLive: @talent["token"]["deployed"],
        isFollowing: @talent["is_following"],
        user: {
          id: @talent["user_id"],
          email: @talent["user"]["email"],
          username: @talent["user"]["username"],
          display_name: @talent["user"]["display_name"],
          wallet_id: @talent["user"]["wallet_id"]
        },
      }, prerender: false)
    %>
  </div>
</main>
