<main class="main-content">
  <div class="container-grid">
    <%= react_component("Discovery",
      props: {
        discoveryRows: @discovery_rows.map { |row| {
          title: row["title"],
          badge: row["badge"],
          badge_link: row["badge_link"],
          talents: row["talents"].map { |talent| {
            id: talent["id"],
            profilePictureUrl: talent["profile_picture_url"],
            contractId: talent["token"]["contract_id"],
            occupation: talent["occupation"],
            headline: talent["headline"],
            ticker: talent["token"]["ticker"],
            isFollowing: talent["is_following"],
            name: talent["user"]["name"],
            username: talent["user"]["username"],
            userId: talent["user_id"],
          }}
        }},
        marketingArticles: @marketing_articles.map { |article| {
          id: article["id"],
          link: article["link"],
          title: article["title"],
          description: article["description"],
          imgUrl: article["image_url"]
        }}
      },
      prerender: false) %>
  </div>
</main>
