<main class="main-content">
  <div class="container-grid">
    <%= react_component("Discovery",
      props: {
        discoveryRows: @discovery_rows.map { |row| {
          badge: row["badge"],
          badge_link: row["badge_link"],
          slug: row["slug"],
          title: row["title"],
          talents: row["talents"].map { |talent| {
            id: talent["id"],
            profilePictureUrl: talent["profile_picture_url"],
            contractId: talent["token"]["contract_id"],
            occupation: talent["occupation"],
            headline: talent["headline"],
            ticker: talent["token"]["ticker"],
            isFollowing: talent["is_following"],
            name: talent["user"]["name"],
            username: talent["user"]["username"],
            userId: talent["user_id"],
          }}
        }},
        marketingArticles: @marketing_articles.map { |article| {
          id: article["id"],
          link: article["link"],
          title: article["title"],
          description: article["description"],
          imgUrl: article["image_url"]
        }},
        user: {
          id: current_user.id,
          investorId: current_user.investor&.id,
          username: current_user.username,
          beginnerQuestId: current_user.quests.find_by(type: "Quests::User").id,
          supporterQuestId: current_user.quests.find_by(type: "Quests::Supporter").id,
          walletId: current_user.wallet_id,
          profileType: current_user.profile_type,
          talent: current_user.talent.present?,
          tokenLaunched: current_user.talent&.token&.deployed,
          activeSupporter: current_user.active_supporter?
        }
      },
      prerender: false) %>
  </div>
</main>
