<main class="main-content">
  <div class="container-grid">
    <div class="secondary-content">
      <%= react_component("Rewards",
        props: {
          user: {
            isTalent: current_user.talent.present?,
            isEligible: current_user.wallet_id.present?,
            currentRaceResults: @race_results[:userStats][:invites],
          },
          talentInvites: @talent_invites,
          supporterInvites: @supporter_invites,
          race: @race,
          allRaces: @races,
          rewards: @rewards,
          leaderboardResults: @race_results,
          talentList: @talent_list
        },
        prerender: false) %>
    </div>
  </div>
</main>
