<main class="main-content">
  <div class="container-grid">
    <div class="secondary-content">
      <%= react_component("Rewards",
        props: {
          user: {
            isTalent: current_acting_user.talent.present?,
            isEligible: current_acting_user.wallet_id.present?,
            username: current_acting_user.username,
            investorId: current_acting_user.investor&.id
          },
          talentInvites: @talent_invites,
          supporterInvites: @supporter_invites,
          racesCount: @races_count,
          userRewards: @user_rewards,
          raceRewards: @race_rewards,
          raceRegisteredUsersCount: @race_registered_users_count,
          usersThatBoughtTokensCount: @users_that_bought_tokens_count,
          talentList: @talent_list,
          quests: @quests
        },
        prerender: false) %>
    </div>
  </div>
</main>
