<main class="main-content">
  <div class="container-grid">
    <div class="secondary-content">
      <%= react_component("Rewards",
        props: {},
        prerender: false) %>
    </div>
  </div>
</main>
