<h3 class="ax-center text-center mb-10">Hello <%= @user.username %>!</h3>
<% @notifications.each_with_index do |notification, idx| %>
  <% if idx > 0 %>
    <hr />
  <% end %>
  <p class="w-full lh-lg text-lg mb-10">
    <%= notification.body %>!
  </p>
<% end %>
<%= link_to "See on the dasboard", root_url,
  class: "btn btn-primary rounded-full fw-800 text-5xl py-4 ax-center mb-10 w-full w-lg-80" %>
