<% if @talent.present? %>
  <% content_for :meta_title, "#{@talent["user"]["username"]} | #{DEFAULT_META["meta_product_name"]}" %>
  <% if @talent["headline"].present? %>
    <% content_for :meta_description, @talent["headline"] %>
  <% end %>
  <% if @talent["profile_picture_url"].present? %>
    <% content_for :meta_image, @talent["profile_picture_url"] %>
    <% content_for :meta_card_type, "summary" %>
  <% end %>
<% else %>
  <% content_for :meta_title, "#{@investor["user"]["username"]} | #{DEFAULT_META["meta_product_name"]}" %>
  <% if @investor["headline"].present? %>
    <% content_for :meta_description, @investor["headline"] %>
  <% end %>
  <% if @investor["profile_picture_url"].present? %>
    <% content_for :meta_image, @investor["profile_picture_url"] %>
    <% content_for :meta_card_type, "summary" %>
  <% end %>
<% end %>

<main class="main-content">
  <div class="container-grid">
    <% if current_user.nil? %>
      <%= react_component("LoggedOutTopBar", props:
        {
        }, prerender: false)
      %>
    <% end %>
    <% if @talent.present? %>
      <%= react_component("TalentShow", props:
        {
          talent: @talent,
          profilePictureUrl: @talent["profile_picture_url"],
          bannerUrl: @talent["banner_url"],
          tags: @talent["tags"].map { |tag| tag["description"] },
          token: @talent["token"],
          perks: @talent["perks"],
          careerGoal: @talent["career_goal"],
          goals: @talent["career_goal"]["goals"],
          milestones: @talent["milestones"],
          currentUserId: current_user&.id,
          tokenLive: @talent["token"]["deployed"],
          isFollowing: @talent["is_following"],
          admin: current_user ? current_user.admin? : false,
          user: {
            id: @talent["user_id"],
            email: @talent["user"]["email"],
            username: @talent["user"]["username"],
            display_name: @talent["user"]["display_name"],
            wallet_id: @talent["user"]["wallet_id"],
            profile_type: @talent["user"]["profile_type"],
          },
        }, prerender: false)
      %>
    <% else %>
      <%= react_component("SupporterProfile", props:
        {
          investor: @investor,
          profilePictureUrl: @investor["profile_picture_url"],
          bannerUrl: @investor["banner_url"],
          tags: @investor["tags"].map { |tag| tag["description"] },
          currentUserId: current_user&.id,
          user: {
            id: @investor["user_id"],
            email: @investor["user"]["email"],
            username: @investor["user"]["username"],
            display_name: @investor["user"]["display_name"],
            wallet_id: @investor["user"]["wallet_id"]
          },
        }, prerender: false)
      %>
    <% end %>
  </div>
</main>
