<% if resource.errors.any? %>
  <div class="alert alert-danger">
    <h3 class="alert-heading">
      Found <%= pluralize(resource.errors.count, "issue") %>
    </h3>

    <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>