<div class="col-12 col-lg-3 flex-grow-0 flex-shrink-0 lg-overflow-y-hidden tal-sidebar px-0 lg-h-100">
  <header class="col-12 px-0 tal-sidebar lg-h-100">
    <%=
      react_component("Navbar",
      props: {
        feedPath: root_path,
        talentPath: talent_index_path,
        portfolioPath: portfolio_path,
        messagesPath: messages_path,
        admin: current_user&.admin?,
        adminPath: current_user.present? && admin_path,
        watchList: current_user.following.includes(user: :talent).map { |f| {id: f.user.id, picture: f.user.talent.profile_picture_url, displayName: f.user.display_name || f.user.username, url: talent_path(f.user.talent) }},
      },
      prerender: false, html_options: { class: "d-flex flex-column flex-lg-fill align-self-lg-stretch lg-h-100" }) %>
  </header>
</div>
