<div class="col-12 col-lg-3 flex-grow-0 flex-shrink-0 lg-overflow-scroll tal-sidebar px-0 lg-h-100">
  <header class="col-12 px-0 tal-sidebar lg-h-100">
    <%=
      react_component("Navbar",
      props: {
        feedPath: root_path,
        talentPath: talent_index_path,
        portfolioPath: portfolio_index_path,
        messagesPath: messages_path,
        tradePath: "https://talentprotocol.com",
        settingsPath: settings_path,
        helpPath: "https://talentprotocol.com"
      },
      prerender: false, html_options: { class: "d-flex flex-column flex-lg-fill align-self-lg-stretch lg-h-100" }) %>
  </header>
</div>
