<div class="w-100 lg-width-reset lg-navbar-min-width px-0 lg-h-100">
  <header class="w-100 px-0 lg-h-100">
    <%=
      react_component("Navbar",
      props: {
        feedPath: root_path,
        talentPath: talent_index_path,
        portfolioPath: portfolio_path,
        messagesPath: messages_path,
        admin: current_user&.admin?,
        adminPath: current_user.present? && admin_path,
        watchList: current_user.following.where.not(user: { id: 1 }).includes(user: :talent).map { |f| {id: f.user.id, picture: f.user.talent.profile_picture_url, displayName: f.user.display_name.blank? ? f.user.username : f.user.display_name, url: talent_path(f.user.talent) }},
      },
      prerender: false, html_options: { class: "d-flex flex-column align-self-lg-stretch lg-h-100" }) %>
  </header>
</div>
