<main class="main-content themed-border-top"> 
  <%= react_component("EditSupporter", props:
    {
      id: current_user.id,
      username: current_user.username,
      email: current_user.email,
      invites: current_user.invites.as_json,
      profilePictureUrl: current_user.investor.profile_picture_url,
    }, prerender: false)
  %>
</main>
