<main class="h-100">
  <%= react_component("RegistrationFlow",
    props: {
      step: 1,
      captchaKey: ENV["RECAPTCHA_SITE_KEY"]
    },
    prerender: false, html_options: { class: "h-100"})
  %>
</main>
