<main class="d-flex flex-column mx-auto h-100 justify-content-center">
  <%= react_component("Logo",
    props: { width: "100%", height: 50},
    prerender: false, html_options: { class: "my-3" })
  %>
  <%= react_component("RegistrationFlow",
    props: {
      step: 1
    },
    prerender: false, html_options: { class: "px-3 pb-3"})
  %>
</main>
