<main class="d-flex flex-column mx-auto h-100">
  <%= react_component("Logo",
    props: { width: 50, height: 50, bigName: true, centerText: true },
    prerender: false, html_options: { class: "m-3" })
  %>
  <%= react_component("RegistrationFlow",
    props: {
      step: 1
    },
    prerender: false, html_options: { class: "px-3 pb-3"})
  %>
</main>
