// primary
$primary: #7a55ff;
$primary-100: #e4ddff;
$primary-200: #cabbff;
$primary-300: #af99ff;
$primary-400: #9577ff;
$primary-600: #6244cc;
$primary-700: #493399;
$primary-800: #312266;
$primary-900: #181133;
$primary-light: #7a55ff33;
$primary-disabled: #eeeaff;
$light-primary-disabled: #aebbc5;
$primary-outline-disabled: #ded5ff;
$primary-shade-01: #282144;
$primary-link-hover: #7a55ffcc;
$light-primary-01: #1c2126;
$light-primary-03: #536471;
$dark-primary-disabled: #56595f;

// neutrals
$white: #ffffff;
$gray-100: #f4f5f5;
$gray-200: #ccced1;
$gray-300: #aaadb3;
$gray-400: #686c74;
$gray-500: #45484d;
$gray-600: #4b4d50;
$gray-700: #252628;
$gray-800: #2d2f32;
$gray-900: #1c1d1f;
$black: #000000;
$gray: #e1e1e3;
$gray-primary: #9fa3a9;
$light-gray-200: #dbdbde;

// green
$green: #00483b;
$green-100: #bbeacc;
$green-500: #1db954;
$green-900: #093719;
$positive: #4ac776;
$positive-tint-01: #86daa4;
$positive-tint-02: #edf9f1;
$positive-shade-01: #3fe178;
$positive-shade-02: #1db9541a;
$positive-disable: #4ac7761a;
$positive-disable-01: #4ac77633;

// yellow
$yellow: #fcff6b;
$yellow-100: #fff1d1;
$yellow-400: #ffda85;
$yellow-500: #ffd166;
$yellow-900: #4c3f1f;

//secondary
$secondary-100: #feffbb;
$secondary-900: #333400;

//danger
$danger: #ff2222;
$danger-tint-01: #ff5555;
$danger-tint-02: #ffcece;
$danger-shade-01: #480000;
$danger-shade-02: #2b1516;
$danger-disable: #ffbfbf;
$danger-ghost: #fff3f3;

//bg
$bg-01: #fafafb;
$dark-bg-01: #131415;

// some colors
$main-purple: #694cd0;
$deep-purple: #482a67;
$pink: #e1c3ff;
$warning: #ffb200;

// light mode colors
$surface-01: #f5f6f7;
$surface-01-hover: #ebedf0;
$surface-hover: #eeeeef;
$gray-surface-2: #ededef;

// dark mode colors
$danger-shade-1: #910000;
$surface-hover-02: #3b3c3f;
$surface-02: #232427;
