$primary: #7a55ff;
$primary-light: #7a55ff33;
$main-purple: #694cd0;
$green: #00483b;
$yellow: #fcff6b;
$deep-purple: #482a67;
$pink: #e1c3ff;
$black: #000000;
$white: #ffffff;

// light mode colors
$black-primary: #202122;
$black-secondary: #686c74;
$surface-hover: #f3f4f4;
$surface-02: #ededef;
$gray: #dbdbde;
$gray-primary: #9fa3a9;
$gray-secondary: #ccced1;
$primary-hover: #9577ff;
$primary-disabled: #eeeaff;
$primary-outline-disabled: #ded5ff;
$danger: #ff2222;
$danger-default: #ff5555;
$danger-disable: #ffbfbf;
$danger-ghost: #fff3f3;

// dark mode colors
$dark-purple: #312266;
$dark-red: #480000;
$danger-shade-1: #910000;
$black-shade-1: #2d2f32;
$black-shade-2: #1c1d1f;
$gray-shade-1: #aaadb3;
