$primary: #7a55ff;
$main-purple: #694CD0;
$green: #00483B;
$yellow: #FCFF6B;
$deep-purple: #482A67;
$pink: #E1C3FF;
$black: #000000;
$white: #FFFFFF;

// light mode colors
$black-primary: #202122;
$black-secondary: #686C74;
$surface-hover: #F3F4F4;
$gray: #DBDBDE;
$gray-secondary: #CCCED1;
$primary-hover: #9577FF;
$primary-disabled: #EEEAFF;
$primary-outline-disabled: #DED5FF;
$danger: #FF2222;
$danger-default: #FF5555;
$danger-disable: #FFBFBF;
$danger-ghost: #FFF3F3;

// dark mode colors
$dark-purple: #312266;
$dark-red: #480000;
$danger-shade-1: #910000;
$black-shade-1: #2D2F32;
