@import "./colors";
// Typograpgy

.h1 {
  font-size: 48px !important;
  font-weight: 400;
  line-height: 58px;
}

.h2 {
  font-size: 40px !important;
  font-weight: 400;
  line-height: 48px;
}

.h3 {
  font-size: 32px !important;
  font-weight: 400;
  line-height: 38px;
}

.h4 {
  font-size: 25px !important;
  font-weight: 400;
  line-height: 30px;
}

.h5 {
  font-size: 20px !important;
  font-weight: 400;
  line-height: 28px;
}

.p1 {
  font-size: 16px !important;
  font-weight: 400;
  line-height: 26.4px;
  margin: 0;
}

.light-body .p1 {
  color: $gray-600;
}

.dark-body .p1 {
  color: $gray-200;
}

.p2 {
  font-size: 14px !important;
  font-weight: 400;
  line-height: 23.1px;
  margin: 0;
}

.light-body .p2 {
  color: $gray-600;
}

.dark-body .p2 {
  color: $gray-200;
}

.p3 {
  font-size: 12px !important;
  font-weight: 400;
  line-height: 19.8px;
  margin: 0;
}

.light-body .p3 {
  color: $gray-600;
}

.dark-body .p3 {
  color: $gray-200;
}

.caption {
  font-size: 10px !important;
  font-weight: 400;
  line-height: 18.5px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.bold {
  font-weight: 700;
}
