@import "fonts";
@import "bootstrap/overrides";
@import "libs";
@import "custom/button";
@import "custom/chat";
@import "custom/navbar";
@import "custom/talent";
@import "custom/alerts";
@import "custom/feed";
@import "custom/leaderboards";
@import "custom/table";
@import "custom/registration";
@import "custom/user_menu";
@import "custom/shared";

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

@media (min-width: 992px) {
  html,
  body {
    height: 100%;
  }

  body {
    margin: 0;
  }

  .lg-h-100 {
    height: 100%;
  }

  .lg-w-100 {
    width: 100%;
  }

  .lg-w-32 {
    width: 32%;
  }

  .lg-w-49 {
    width: 49%;
  }

  .lg-width-reset {
    width: auto !important;
  }

  .lg-overflow-y-hidden {
    overflow-y: hidden;
  }
  .lg-overflow-y-scroll {
    overflow-y: scroll;
  }
}

@media (max-width: 768px) {
  .md-h-100 {
    height: 100%;
  }

  .md-w-100 {
    width: 100%;
  }
}
