@import "fonts";
@import "bootstrap/overrides";
@import "libs";
@import "custom/button";
@import "custom/slider";
@import "custom/tooltip";
@import "custom/checkbox";
@import "custom/fields";
@import "custom/chat";
@import "custom/talent";
@import "custom/alerts";
@import "custom/modal";
@import "custom/notification";
@import "custom/cards";
@import "custom/topbar";
@import "custom/list";
@import "custom/feed";
@import "custom/leaderboards";
@import "custom/table";
@import "custom/tab";
@import "custom/tags";
@import "custom/link";
@import "custom/registration";
@import "custom/dropdowns";
@import "custom/shared";
@import "custom/bottom_nav";
@import "custom/placeholder";
@import "custom/portfolio";
@import "colors";
@import "types";

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px;
}
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: $gray;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

.dark-body ::-webkit-scrollbar-thumb {
  background-color: $surface-hover-02;
}

html {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  height: 100%;
}

.dark-body {
  background-color: $bg-01;
  color: $white;
}

.light-body {
  background-color: $light-bg-01;
  color: $gray-900;
}

@media (min-width: 992px) {
  .lg-h-100 {
    height: 100%;
  }

  .lg-w-100 {
    width: 100%;
  }

  .lg-w-32 {
    width: 32%;
  }

  .lg-w-49 {
    width: 49%;
  }

  .lg-width-reset {
    width: auto !important;
  }

  .lg-overflow-y-hidden {
    overflow-y: hidden;
  }

  .lg-overflow-y-scroll {
    overflow-y: scroll;
  }

  .lg-overflow-y-auto {
    overflow-y: auto;
  }
}

textarea {
  resize: none;
}

@media (max-width: 768px) {
  .md-h-100 {
    height: 100%;
  }

  .md-w-100 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  body#user-logged {
    padding-left: 220px !important;
    padding-top: 70px !important;
  }
}

@media (max-width: 992px) {
  body#user-logged {
    padding-bottom: 56px !important;
    padding-top: 70px !important;
  }
}
