<% profile_picture_url = attachments["profile_picture-#{talent.id}.png"]&.url %>
<% user = talent.user %>

<div class="row mb-5 border rounded-xl mx-0">
  <% if profile_picture_url %>
    <div class="col-1 py-3">
      <img class="img-fluid h-7 h-lg-9 w-auto max-w-9 my-auto rounded-image ay-middle ml-3" src=<%= profile_picture_url %> alt="User profile picture" />
    </div>
  <% end %>
  <div class="col-10 py-3">
    <p class="ay-middle user-title primary-2 ml-1">
      &nbsp;&nbsp; <%= user.display_name || user.username %>
    </p>
    <p class="ay-middle primary-3 text-xs ml-1">
      &nbsp;&nbsp; <%= talent.occupation %>
    </p>
  </div>
</div>
