<div>
  <img class="img-fluid h-8 w-8 mx-auto rounded-image d-inline ay-middle" src=<%= user.profile_picture_url %> alt="User profile picture" />
  <p class="fw-700 text-base lh-8 ay-middle d-inline">
    &nbsp;&nbsp;<%= user.display_name || user.username %>
  </p>
</div>
