<div>
  <% if profile_picture_url %>
    <img class="img-fluid h-8 w-8 mx-auto rounded-image d-inline ay-middle" src=<%= profile_picture_url %> alt="User profile picture" />
  <% end %>
  <p class="ay-middle d-inline user-title">
    &nbsp;&nbsp; <%= user.display_name || user.username %>
  </p>
</div>
