<main class="h-100">
  <%= react_component("ChangePassword",
    props: {
      userId: @user.id,
      token: @user.confirmation_token
    },
    prerender: false, html_options: { class: "h-100"})
  %>
</main>

