<div class="col-12 col-lg-9 flex-grow-0 flex-shrink-0 lg-overflow-y-hidden d-flex flex-column justify-content-center">
  <h1 class="text-center">404 Not Found</h1>
  <p class="text-center text-muted">Well this is awkward but it seems we can't find what you're looking for... Perhaps we misplaced it?</p>
</div>