
<div class="lg-overflow-y-scroll px-0 d-flex flex-column flex-lg-row w-100">
  <main class="col-12 mx-auto mx-lg-0 p-3 mt-3">
      <div class="d-flex flex-column flex-sm-row justify-content-between">
        <h1 class="mb-0 mr-2">Portfolio</h1>
      </div>

      <%= react_component("Portfolio", props: { address: current_user.wallet_id }, prerender: false) %>
  </main>
</div>
