<div class="container mt-4">
  <h1>Investors</h1>

  <table class="table table-hover">
    <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Wallet ID</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @investors.each do |investor|%>
        <tr>
          <th scope="row"><%= investor.id %></th>
          <td><%= investor.username %></td>
          <td><%= investor.wallet_id %></td>
          <td><%= link_to "Details", investor_path(investor.id), class: "btn btn-primary", role: "button" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
