.talent-alert {
  border-radius: 0px;
}

.talent-alert-info {
  box-shadow: 3px 3px 0px 0px #44C6DC;
}

.talent-alert-primary {
  box-shadow: 3px 3px 0px 0px #6037F4;
}

.talent-alert-warning {
  box-shadow: 3px 3px 0px 0px #F59E0B;
}

.talent-alert-danger {
  box-shadow: 3px 3px 0px 0px #EF4444;
}

.talent-alert-success {
  box-shadow: 3px 3px 0px 0px #10B981}
