@import "../colors";
@import "../bootstrap/overrides";

.navbar-bottom-mobile {
  height: 56px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  background: rgba(250, 250, 251, 0.7);
  backdrop-filter: blur(48px);
}

.dark-body .navbar-bottom-mobile {
  background: rgba(19, 20, 21, 0.7);
}

.navbar-bottom-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;

  .navbar-bottom-menu-option {
    color: $gray-400;

    a {
      text-decoration: none;
    }

    a:hover:not(.active) {
      color: $black;
    }

    a.active {
      font-weight: bold;
      color: $black;
    }

    .mobile-menu-icon {
      color: $gray-400;

      &:hover:not(.active) {
        color: $black;
      }
    }
  }
}

.dark-body .navbar-bottom-menu {
  .navbar-bottom-menu-option {
    color: $gray-300;

    a:hover:not(.active) {
      color: $white;
    }

    .mobile-menu-icon {
      color: $gray-300;

      &:hover:not(.active) {
        color: $white;
      }
    }
  }
}
