@import "../bootstrap/overrides";

.chat-search-icon {
  top: 25px;
  left: 25px;
  color: #a9acb7;
}

.display-messages {
  height: calc(100% - 80px);
}

.input-message-height {
  height: 80px;
}

.chat-user {
  cursor: pointer;

  &:hover {
    background-color: $surface-hover;
    text-decoration: none;
  }
}

.dark-body .chat-user {
  cursor: pointer;

  &:hover {
    background-color: $gray-600;
    text-decoration: none;
  }
}

.image-greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.chat-user.active {
  background-color: $surface-hover;
}

.dark-body .chat-user.active {
  background-color: $gray-600;
}

.chat-message {
  max-width: 75%;
  border-radius: 16px;
  font-size: 0.9rem;
  margin-bottom: 0px;
}

.chat-my-message {
  align-self: flex-end;
  border-bottom-right-radius: 0px;
}

.chat-their-message {
  align-self: flex-start;
  border-bottom-left-radius: 0px;
}

.chat-message-date {
  font-size: 0.9rem;
}

.chat-send-area {
  padding: 20px;
}

.chat-input-area {
  border-radius: 0px;
  resize: none;
}

.chat-unread-count {
  background-color: $primary;
  border-radius: 50%;
  color: white;
  display: inline-block;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  margin-left: 0.25rem;
  padding: 0.4em 0.6em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.new-message-user-list {
  max-height: 200px;
  overflow-y: scroll;
}

.messages-from-same-user {
  margin-left: 65px !important;
}

@media (min-width: 992px) {
  .absolute-menu {
    position: absolute;
    top: 12px;
    right: 20px
  }
}

@media (max-width: 991px) {
  .absolute-menu {
    position: absolute;
    top: 85px;
    right: 20px
  }
}
