@import "../bootstrap/overrides";

.chat-search-icon {
  top: 10px;
  left: 10px;
  color: $gray-primary;
}

.dark-body .chat-search-icon {
  color: $gray-400;
}

.display-messages {
  height: calc(100% - 80px);
}

.chat-user {
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background-color: $gray-surface-2;
    text-decoration: none;
  }
}

.dark-body .chat-user {
  cursor: pointer;

  &:hover {
    background-color: $surface-02;
    text-decoration: none;
  }
}

.image-greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.chat-user.active {
  background-color: $surface-hover;
}

.dark-body .chat-user.active {
  background-color: $gray-600;
}

.chat-unread-count {
  width: 2em;
  height: 2em;
  background-color: $primary;
  color: white;
  text-align: center;
  border-radius: 50%;
  line-height: 2em;
  box-sizing: content-box;
  font-size: 12px;
  font-weight: 700;
}

.messages-from-same-user {
  margin-left: 65px !important;
}

.message-div {
  overflow-wrap: anywhere;
}

.send-message-button {
  color: $primary;

  &:disabled {
    color: $gray;
  }
}

.dark-body .send-message-button {
  &:disabled {
    color: $gray-600;
  }
}

@media (min-width: 992px) {
  .absolute-menu {
    position: absolute;
    top: 12px;
    right: 20px;
  }

  .new-message-user-list {
    height: 500px;
    overflow-y: auto;
  }
}

@media (max-width: 991px) {
  .absolute-menu {
    position: absolute;
    top: 85px;
    right: 20px;
  }

  .new-message-user-list {
    height: 100%;
    overflow-y: auto;
  }
}
