.user-menu-dropdown {
  background-color: $light !important;
  color: $black !important;
  min-width: 230px;
  padding: 0px 16px 16px 16px;
}

.dark-body .user-menu-dropdown {
  color: $white !important;
  background-color: $gray-600 !important;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-toggle.no-caret:after {
  display: none;
}

.user-menu-dropdown-item {
  padding: 8px 0;
  margin: 8px 0;
  &:hover {
    background-color: $surface-hover !important;
  }
}

.dark-body .user-menu-dropdown-item {
  &:hover {
    background-color: $surface-hover-02 !important;
  }
}

.user-menu-divider {
  border-top: 1px solid $surface-hover;
}

.dark-body .user-menu-divider {
  border-top: 1px solid $gray-500;
}

.modal-content,
.modal-dialog {
  background-color: $white;
}

.dark-body .modal-dialog {
  background-color: $gray-900;
}

.dark-body .modal-content {
  background-color: $gray-900;
}

.claim-rewards-dropdown-btn {
  background-color: $surface-hover !important;
  border: 0px solid $primary;
  color: $black !important;

  &:hover {
    border: 1px solid $primary !important;
    background-color: $surface-hover !important;
    color: $black !important;
  }

  &:focus {
    background-color: $surface-hover !important;
    color: $black !important;
    box-shadow: none !important;
  }

  &:active {
    border: 0px solid $primary;
    background-color: $surface-hover !important;
    color: $black !important;
  }

  &.dark {
    color: $white !important;
    background-color: $gray-600 !important;
    &:hover {
      border: 1px solid $primary !important;
    }
  }
}
