@import "../bootstrap/overrides";
@import "~bootstrap/scss/variables";

.user-menu-dropdown-btn {
  background-color: $light !important;
  border: 0px;
  color: $black !important;

  &:hover {
    background-color: $gray-400 !important;
    color: $black !important;
  }

  &:focus {
    background-color: $light !important;
    color: $black !important;
    box-shadow: none !important;
  }

  &:active {
    background-color: $light !important;
    color: $black !important;
  }

  &.dark {
    color: $white !important;
    background-color: $gray-600 !important;
    &:hover {
      background-color: $gray-400 !important;
    }
  }
}

.user-menu-dropdown {
  background-color: $light !important;
  color: $black !important;
  min-width: 230px;
  padding: 8px 16px;

  &.dark {
    color: $white !important;
    background-color: $gray-600 !important;
  }
}

.dropdown-toggle.no-caret:after {
  display: none;
}

.user-menu-dropdown-item {
  padding: 0.25rem 0;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  &:hover {
    background: $surface-hover !important;
  }
}

.dark-body .user-menu-dropdown-item {
  &:hover {
    background: $gray-400 !important;
  }
}

.user-menu-divider {
  border-top: 1px solid $gray-400;
}

.modal-content,
.modal-dialog {
  background-color: $white;
}

.dark-body .modal-dialog {
  background-color: $gray-900;
}

.dark-body .modal-content {
  background-color: $gray-900;
}

.claim-rewards-dropdown-btn {
  background-color: $surface-hover !important;
  border: 0px solid $primary;
  color: $black !important;

  &:hover {
    border: 1px solid $primary !important;
    background-color: $surface-hover !important;
    color: $black !important;
  }

  &:focus {
    background-color: $surface-hover !important;
    color: $black !important;
    box-shadow: none !important;
  }

  &:active {
    border: 0px solid $primary;
    background-color: $surface-hover !important;
    color: $black !important;
  }

  &.dark {
    color: $white !important;
    background-color: $gray-600 !important;
    &:hover {
      border: 1px solid $primary !important;
    }
  }
}
