@import "../colors";
@import "../bootstrap/overrides";

.title-field {
  font-weight: 700;
  font-size: 0.9rem;
}

.dark-body .title-field {
  color: $white;
}

.short-caption {
  margin-top: 0.6rem;
  margin-bottom: 0;
  font-size: 0.8rem;
  color: $gray-primary;
  font-weight: 400;
}

.dark-body .short-caption {
  color: $gray-400;
}

.form-control {
  background: $surface-hover;
  color: $gray-800;
  border: 1px solid $surface-hover;
  height: 34px;

  &:hover {
    background: $surface-hover;
    border: 1px solid $primary-400;
    box-sizing: border-box;
    border-radius: 4px;
  }

  &:active {
    background-color: $surface-hover;
  }

  &:focus {
    background-color: $surface-hover;
    border: 1px solid $primary-400 !important;
  }

  &:disabled {
    color: $primary-outline-disabled;
    background: $surface-hover;
    border: 1px solid $surface-hover;
    color: $gray-800;
  }
}

.dark-body .form-control {
  background: $gray-800;
  color: $white;
  border: 1px solid $gray-800;

  ::placeholder {
    color: $gray-400 !important;
  }

  &:hover {
    background: $gray-800;
    border: 1px solid $primary;
    box-sizing: border-box;
    border-radius: 4px;
  }

  &:active {
    background: $gray-800;
  }

  &:focus {
    background: $gray-800;
  }

  &:disabled {
    color: $primary-outline-disabled;
    background: $gray-800;
    border: 1px solid $gray-800;
    color: $gray-600;
  }
}

::placeholder {
  color: $gray-primary !important;
  font-size: 0.9rem;
}

.tag-input {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  max-width: 100%;
  margin: 0;

  input {
    background-color: inherit;
    color: inherit;
    border: none;
    width: 100%;
    outline: none;
    min-width: 100px;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .optional-tag-container {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.tag-input-caption {
  color: $gray-primary;
}

.dark-body .tag-input-caption {
  color: $gray-400;
}

::placeholder {
  color: $gray-400 !important;
  font-size: 0.9rem;
}

.select {
  &__control {
    background: $surface-hover !important;
    color: $gray-800 !important;
    border: 1px solid $surface-hover !important;
    box-shadow: none !important;

    &:hover {
      background: $surface-hover !important;
      border: 1px solid $primary-400 !important;
      box-sizing: border-box !important;
      border-radius: 4px !important;
    }

    &:active {
      background-color: $surface-hover !important;
    }

    &:focus {
      background-color: $surface-hover !important;
      border: 1px solid $primary-400 !important;
    }

    &:disabled {
      color: $primary-outline-disabled !important;
      background: $surface-hover !important;
      border: 1px solid $surface-hover !important;
      color: $gray-800 !important;
    }
  }

  &__menu {
    background-color: $white !important;
    color: $black !important;
    padding: 8px 8px !important;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2) !important;
    border-radius: 4px !important;
    border: none !important;
  }

  &__option {
    padding: 8px 32px 8px 8px !important;
    border-radius: 4px !important;
    background-color: inherit !important;

    &:hover {
      background-color: $surface-hover !important;
    }

    &.select__option--is-focused {
      background-color: $surface-hover !important;
    }
  }

  &__input-container {
    color: $gray-800 !important;
  }

  &__indicator {
    color: $gray-primary !important;

    &:hover {
      color: $gray-800 !important;
      cursor: pointer !important;
    }
  }

  &__multi-value {
    background-color: $gray !important;
    border-radius: 4px !important;

    &:hover {
      background-color: $light-gray-200 !important;
    }

    .select__multi-value__label {
      color: $gray-800 !important;
    }

    .select__multi-value__remove {
      background-color: inherit !important;
      color: $gray-primary !important;
      border-radius: 0 4px 4px 0 !important;

      &:hover {
        color: $gray-800 !important;
      }
    }
  }
}

.dark-body .select {
  &__control {
    background: $gray-800 !important;
    color: $white !important;
    border: 1px solid $gray-800 !important;

    ::placeholder {
      color: $gray-400 !important;
    }

    &:hover {
      background: $gray-800 !important;
      border: 1px solid $primary !important;
      box-sizing: border-box !important;
      border-radius: 4px !important;
    }

    &:active {
      background: $gray-800 !important;
    }

    &:focus {
      background: $gray-800 !important;
    }

    &:disabled {
      color: $primary-outline-disabled !important;
      background: $gray-800 !important;
      border: 1px solid $gray-800 !important;
      color: $gray-600 !important;
    }
  }

  &__menu {
    color: $white !important;
    background-color: $gray-800 !important;
    box-shadow: none !important;
  }

  &__option {
    &:hover {
      background-color: $surface-hover-02 !important;
    }

    &.select__option--is-focused {
      background-color: $surface-hover-02 !important;
    }
  }

  &__input-container {
    color: $white !important;
  }

  &__indicator {
    color: $gray-200 !important;

    &:hover {
      color: $white !important;
    }
  }

  &__multi-value {
    background-color: $gray-400 !important;

    &:hover {
      background-color: $gray-300 !important;
    }

    .select__multi-value__label {
      color: $white !important;
    }

    .select__multi-value__remove {
      color: $gray-200 !important;

      &:hover {
        color: $white !important;
      }
    }
  }
}
