@import "../colors";
@import "../bootstrap/overrides";

.title-field {
    font-weight: 700;
    font-size: 0.9rem;

    &.dark {
        color: $white;
    }
}

.short-caption {
    margin-top: 0.6rem;
    font-size: 0.8rem;
    color: $primary-04;
    font-weight: 400;

    &.dark {
        color: $black-secondary;
    }
}

.form-control {
    background: $surface-hover;
    color: #202122;

    &:hover {
        background: $surface-hover;
        border: 1px solid $primary-hover;
        box-sizing: border-box;
        border-radius: 4px;
    }

    &:active {
        background-color: $surface-hover;
    }

    &:focus {
        background-color: $surface-hover;
    }

    &:disabled {
        color: $primary-outline-disabled;
        background: $surface-hover;
        border: 0px;
        color: $black-primary;
    }

    &.dark {
        background: $black-shade-1;
        color: $white;
        border: 0;

        ::placeholder {
            color: $black-secondary !important;
        }


        &:hover {
            background: $black-shade-1;
            border: 1px solid $primary;
            box-sizing: border-box;
            border-radius: 4px;
        }

        &:active {
            background: $black-shade-1;
        }

        &:focus {
            background: $black-shade-1;
        }

        &:disabled {
            color: $primary-outline-disabled;
            background: $black-shade-1;
            border: 0px;
            color: $black-primary;
        }
    }
}


::placeholder {
    color: $primary-04 !important;
    font-size: 0.9rem;
}
