.link-container {
  display: flex;
  cursor: pointer;

  .link-text {
    margin-left: 16px;

    &.light {
      color: $gray-400;

      &.active {
        color: $black-primary;
      }
    }

    &.dark {
      color: $gray-300;

      &.active {
        color: $white;
      }
    }
  }

  .link-icon {
    &.light {
      stroke: $gray-400;

      &.active {
        stroke: $black-primary;
      }
    }

    &.dark {
      stroke: $gray-300;

      &.active {
        stroke: $white;
      }
    }
  }
}
