@import "../colors";
@import "../bootstrap/overrides";

.modal-dialog {
    background-color: $alert-primary;
    border: 0;

    &.dark {
        background-color: $gray-900;
    }
}

.modal-content {
    background-color: $alert-primary;
    border: 0;

    &.dark {
        background-color: $gray-900;
    }
}

.modal-header
{
    border: 0;
}

.modal-header .close {
    color: $gray-400;
    font-weight: 200;
    font-size: 1.5rem;
    text-shadow: none;

    &.dark {
        color: $gray-300;
    }
}


.modal-body span {
    padding-top: 10px;
    font-size: 0.9rem;
    color: $gray-600;

    &.dark {
        color: $gray-200;
    }
}

.modal-body p {
    font-size: 0.9rem;
    color: $gray-600;

    &.dark {
        color: $gray-200;
    }
}

.modal-body h5 {
    font-weight: 700;
    font-size: 0.9rem;
    color: $gray-800;

    &.dark {
        color: White;
    }
}

.modal-body .availableAmount {
    font-weight: 700;
    font-size: 0.7rem;
    color: $gray-primary;

    &.dark {
        color: $gray-400;
    }
}


.modal-body .short-description {
    font-weight: 400;
    font-size: 0.75rem;
    color: $gray-600;
}

.modal-body .form-check {
    margin-top: 1.5rem;

    label {
        font-weight: 400;
        font-size: 1rem;
        color: $gray-800;

        &.dark {
            color: $white;
        }
    }

    a {
        text-decoration: underline;
    }
}

.button-confirm {
    margin-top: 1.5rem;
}
