@import "../bootstrap/overrides";
@import "~bootstrap/scss/variables";

.tal-variance-box {
  border-radius: 25px;
  background-color:#e7f8f2;
}

@media (min-width: 768px) {
  .md-border {
    border: 1px solid $border-color;
  }
}

.tal-sidebar {
  min-width: 55px;
  max-width: 250px;
}

.tal-content {
  max-width: calc(100% - 55px) !important;
}

.tal-nav-item-active {
  background-color: transparent !important;
  color: $primary !important;
  border-top: 0px !important;
  border-right: 0px !important;
  border-left: 0px !important;
  border-bottom: 2px solid $primary !important;
  padding-right: 0px;
  padding-left: 0px;
}

.tal-nav-item {
  background-color: transparent !important;
  color: $secondary !important;
  padding-right: 0px;
  padding-left: 0px;
  border-top: 0px !important;
  border-right: 0px !important;
  border-left: 0px !important;
  border-bottom: 2px solid transparent !important;

  &:hover {
    border-bottom: 2px solid $primary !important;
    color: $primary !important;
    border-top: 0px !important;
    border-right: 0px !important;
    border-left: 0px !important;
  }
}

.tal-nav-dropdown-btn {
  background-color: transparent !important;
  color: $secondary !important;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid transparent !important;
  border-radius: 0px;
  padding: 0px;
  height: 100%;
  &:hover {
    border-bottom: 2px solid $primary !important;
    color: $primary;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    background-color: transparent;
  }
}

.dropdown-toggle {
  &:hover, &:focus, &:disabled, &:active {
    background-color: transparent !important;
    color: $primary !important;
    border-bottom: 2px solid $primary !important;
  }
}
