@import "../colors";
@import "../bootstrap/overrides";

.notification-container {
  border: 1px solid #ededef;
  box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  background-color: $white;

  &.dark {
    background: $gray-600;
  }
}

.notification {
  box-sizing: border-box;
  padding: 12px;
}

.notification-icon {
  margin: 2px;
}

.notification-right-area {
  margin-left: 10px;
  margin-top: 2px;
}

.notification-description {
  margin-top: 4px;
}

.notifications-menu {
  width: 365px;
  max-height: 425px;
  overflow-y: auto;
  padding: 12px 12px !important;
  overflow-y: overlay;
}

.light-body .notifications-menu {
  background-color: $white !important;
  color: $gray-800 !important;
}

.dark-body .notifications-menu {
  background-color: $gray-800 !important;
  color: $white !important;
}

.notifications-unread-icon {
  position: relative;
  top: -11px;
  right: -2px;
  border: 4px solid $primary;
  border-radius: 50%;
  font-size: 0px;
}

.notification-unread-icon {
  position: relative;
  border: 4px solid $primary;
  border-radius: 50%;
  font-size: 0px;
}

.no-notifications-item {
  color: $black;
}

.dark-body .no-notifications-item {
  color: $white !important;
}

.notifications-menu-dropdown-item {
  color: $gray-800 !important;
}

.dark-body .notifications-menu-dropdown-item {
  color: $white !important;
}

@media (max-width: 992px) {
  .notification {
    padding: 16px 24px;
  }
}
