@import "../bootstrap/overrides";

.portfolio-amounts-overview {
  border-radius: 4px;
}

.dark-body .portfolio-amounts-overview {
  background-color: $gray-900;
}

.light-body .portfolio-amounts-overview {
  background-color: $alert-primary;
}
