@import "../bootstrap/overrides";

.registration_step_subtitle {
  color: $light-grey;
}

.registration-left-screen {
  min-width: 550px;
  max-width: 550px;
  background: linear-gradient(145.69deg, $primary -1.68%, $primary-700 100.36%);
  opacity: 0.9;
}

.registration-mobile {
  padding-top: 100px !important;
}

.registration-mobile-menu {
  background-color: $white;
}

.dark-body .registration-mobile-menu {
  background-color: $bg-01;
}

.url-verification-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  height: 36px;
}

.registration-box {
  margin-right: 125px;
  margin-left: 125px;
}

.registration-logo {
  position: absolute;
  top: 48px;
  left: 48px;
}

.registration-talent-text {
  position: absolute;
  bottom: 48px;
  left: 48px;
  width: 380px;
}

.registration-theme {
  border: none;
  position: absolute;
  top: 48px;
  right: 48px;
}
