@import "../colors";

.greyscale-img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.underline-hover {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.reset-cursor {
  cursor: default !important;
}

.animated-background {
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, transparent, #dcdcdc 18%, transparent);
  background-size: 200px 104px;
  height: 70px;
  position: relative;
  border-radius: 2px;
}

.image-fit {
  object-fit: cover;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.banner-img {
  height: 356px;
  border-radius: 8px;
}

.mh-100 {
  min-height: 100%;
}

.mw-100 {
  min-width: 100%;
}

.w-32 {
  width: 32%;
}

.w-49 {
  width: 49%;
}

.t-24 {
  top: 24px;
}

.r-24 {
  right: 24px;
}

.b-24 {
  bottom: 24px;
}

.l-24 {
  left: 24px;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.text-black {
  color: $gray-800 !important;
}

.dark-body .text-black {
  color: $white !important;
}

.permanent-text-white {
  color: $white !important;
}

.text-white {
  color: $white !important;
}

.dark-body .text-white {
  color: $black !important;
}

.text-primary {
  color: $primary !important;
}

.text-primary-03 {
  color: $gray-400 !important;
}

.dark-body .text-primary-03 {
  color: $gray-300 !important;
}

.text-yellow {
  color: $yellow !important;
}

.text-gray-300 {
  color: $gray-300 !important;
}

.text-green-500 {
  color: $green-500 !important;
}

.text-gray-600 {
  color: $gray-600 !important;
}

.text-primary-04 {
  color: $gray-primary !important;
}

.dark-body .text-primary-04 {
  color: $gray-400 !important;
}

.hover-black {
  &:hover {
    color: $black !important;
    cursor: pointer;
  }
}

.hover-primary {
  &:hover {
    color: $primary !important;
    cursor: pointer;
  }
}

.disabled-link {
  pointer-events: none;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: $surface-hover;
  overflow: hidden;
}

.dark-body .divider {
  background-color: $gray-800;
}

.border-0 {
  border: 0 !important;
}

.ellipse-new {
  background-color: $primary;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  float: left;
  margin: 4px !important;
  margin-top: 6px !important;
}

.ellipse-notifications {
  background-color: $danger;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}

.icon-theme {
  stroke: $gray-600;

  &.dark {
    stroke: $gray-100;
  }
}

.horizontal-scroll {
  overflow: auto;
}

.icon-bar {
  stroke: $gray-400;
}

.dark-body .icon-bar {
  stroke: $gray-300;
}

.main-content {
  display: flex;
  flex-direction: column;
  overflow-y: overlay;
  width: 100%;
  height: 100%;
}

@media (min-width: 992px) {
  .main-content {
    padding-top: 66px !important;
  }

  .container-grid {
    max-width: 1240px;
    width: 100%;
    height: 100%;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
  }
}

.secondary-content {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  .main-content {
    padding-bottom: 56px !important;
    padding-top: 64px !important;
  }

  .secondary-content {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.remove-background {
  background: none !important;
}

.remove-border {
  border: none !important;
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.dark-body .bg-light {
  background-color: $gray-900 !important;
}

.bg-surface-hover {
  background-color: $surface-hover !important;
}

.dark-body .bg-surface-hover {
  background-color: $gray-800 !important;
}

.dark-body .themed-border-top {
  border-top: 1px solid $gray-800;
}

.light-body .themed-border-top {
  border-top: 1px solid $surface-hover;
}

.dark-body .themed-border-right {
  border-right: 1px solid $gray-800;
}

.light-body .themed-border-right {
  border-right: 1px solid $surface-hover;
}

.dark-body .themed-border-left {
  border-left: 1px solid $gray-800;
}

.light-body .themed-border-left {
  border-left: 1px solid $surface-hover;
}

.dark-body .themed-border-bottom {
  border-bottom: 1px solid $gray-800;
}

.light-body .themed-border-bottom {
  border-bottom: 1px solid $surface-hover;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.text-no-wrap {
  white-space: nowrap;
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

#loading {
  animation: rotate 1s infinite linear;
}

.button-link {
  background: none !important;
  border: none !important;
}

.z-index-1 {
  z-index: 1;
}

.current-color {
  color: currentColor !important;
}

.mb-5 {
  margin-bottom: 32px !important;
}

.ml-5 {
  margin-left: 32px !important;
}

.mt-5 {
  margin-top: 32px !important;
}

.mr-5 {
  margin-right: 32px !important;
}

.mx-5 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}

.my-5 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.pb-5 {
  padding-bottom: 32px !important;
}

.pl-5 {
  padding-left: 32px !important;
}

.pt-5 {
  padding-top: 32px !important;
}

.pr-5 {
  padding-right: 32px !important;
}

.px-5 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.py-5 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.mb-6 {
  margin-bottom: 40px !important;
}

.ml-6 {
  margin-left: 40px !important;
}

.mt-6 {
  margin-top: 40px !important;
}

.mr-6 {
  margin-right: 40px !important;
}

.mx-6 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.my-6 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.p-6 {
  padding: 40px !important;
}

.pb-6 {
  padding-bottom: 40px !important;
}

.pl-6 {
  padding-left: 40px !important;
}

.pt-6 {
  padding-top: 40px !important;
}

.pr-6 {
  padding-right: 40px !important;
}

.px-6 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.py-6 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

@media (min-width: 992px) {
  .mt-lg-7 {
    margin-top: 64px !important;
  }

  .mb-lg-7 {
    margin-bottom: 64px !important;
  }

  .p-lg-6 {
    padding: 40px !important;
  }
}

.talent-background {
  height: 316px;
  border-radius: 8px;
  background-image: url(images/banner-bg.png);
}

.talent-background-text {
  display: flex;
  align-items: center;
  height: 100%;
}

.height-auto {
  height: auto;
}

.dropdown-toggle[aria-expanded="true"] {
  .toggle-arrow {
    transform: rotate(180deg);
  }
}

.reward-icon {
  stroke: none;
  fill: $warning;

  &.disabled {
    fill: $light-primary-disabled;
  }
}

.dark-body .reward-icon {
  stroke: none;
  fill: $yellow;

  &.disabled {
    fill: $gray-400;
  }
}

@media (max-width: 992px) {
  .hide-content-in-mobile {
    display: none !important;
  }
}
