@import "../colors";

.greyscale-img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.underline-hover {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.reset-cursor {
  cursor: default !important;
}

.animated-background {
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, transparent, #dcdcdc 18%, transparent);
  background-size: 200px 104px;
  height: 70px;
  position: relative;
  border-radius: 2px;
}

.image-fit {
  object-fit: cover;
}

.mh-100 {
  min-height: 100%;
}

.mw-100 {
  min-width: 100%;
}

.w-32 {
  width: 32%;
}

.w-49 {
  width: 49%;
}

.t-24 {
  top: 24px;
}

.r-24 {
  right: 24px;
}

.b-24 {
  bottom: 24px;
}

.l-24 {
  left: 24px;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.text-black {
  color: $gray-800;
}

.text-white {
  color: $white;
}

.text-primary {
  color: $primary;
}

.text-yellow {
  color: $yellow;
}

.text-gray-300 {
  color: $gray-300 !important;
}

.text-gray-600 {
  color: $gray-600 !important;
}

.text-description {
  color: $gray-primary !important;
}

.text-green-500 {
  color: $green-500 !important;
}

.dark-body .text-description {
  color: $gray-400 !important;
}

.hover-black {
  &:hover {
    color: $black !important;
    cursor: pointer;
  }
}

.hover-primary {
  &:hover {
    color: $primary !important;
    cursor: pointer;
  }
}

.disabled-link {
  pointer-events: none;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #f3f4f4;
  overflow: hidden;

  &.dark {
    background-color: $gray-600;
  }
}

.border-0 {
  border: 0 !important;
}

.ellipse-new {
  background-color: $primary;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  float: left;
  margin: 4px !important;
  margin-top: 6px !important;
}

.ellipse-notifications {
  background-color: $danger;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}

.icon-theme {
  stroke: $gray-600;

  &.dark {
    stroke: $gray-100;
  }
}

.dark-body .text-black {
  color: $white !important;
}

.dark-body .text-secondary {
  color: $gray-300 !important;
}

.horizontal-scroll {
  overflow: auto;
  white-space: nowrap;
}

.icon-bar {
  stroke: $gray-400;

  &.dark {
    stroke: $gray-300;
  }
}

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.remove-background {
  background: none !important;
}

.remove-border {
  border: none !important;
}

.rotate-svg {
  transform: rotate(180deg);
}

.dark-body .bg-light {
  background-color: $gray-900 !important;
}

.dark-body .themed-border-top {
  border-top: 1px solid $gray-600;
}

.light-body .themed-border-top {
  border-top: 1px solid $gray-200;
}

.dark-body .themed-border-right {
  border-right: 1px solid $gray-600;
}

.light-body .themed-border-right {
  border-right: 1px solid $gray-200;
}

.dark-body .themed-border-left {
  border-left: 1px solid $gray-600;
}

.light-body .themed-border-left {
  border-left: 1px solid $gray-200;
}

.dark-body .themed-border-bottom {
  border-bottom: 1px solid $gray-600;
}

.light-body .themed-border-bottom {
  border-bottom: 1px solid $gray-200;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

#loading {
  animation: rotate 1s infinite linear;
}

.button-link {
  background: none !important;
  border: none !important;

  &:hover {
    text-decoration: underline;
  }
}

.z-index-1 {
  z-index: 1;
}
