@import "../bootstrap/overrides";

// Talent card

.talent-status-badge {
  top: 15px;
  right: 15px;
  position: absolute;
  border-radius: 25px;
}

.talent-status-badge.active {
  background-color: #e7f8f2;
}
.talent-status-badge.upcoming {
  background-color: #f8f8e7;
}

.talent-link {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.blur-photo {
  filter: blur(128px);
  opacity: 40%;
}

.border-photo {
  border: 8px solid $white;
}

.dark-body .border-photo {
  border: 8px solid $bg-01;
}

.pull-bottom-content {
  margin-bottom: -40px;
}

.talent-edit-nav-btn {
  background-color: transparent !important;
  color: $secondary;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px solid transparent !important;
  border-radius: 0px;
  padding: 0px;
  &:hover {
    border-bottom: 0px solid $primary !important;
    color: $primary !important;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    background-color: transparent;
    text-decoration: underline;
  }
}

.talent-border-separator-dashed {
  border-top: 1px dashed $secondary;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
}

.md-talent-card-spacing {
  padding-right: 24px;
  padding-left: 0px;
  &:nth-child(3n) {
    padding-right: 0px;
  }
}

.talent-card-spacing {
  @media (min-width: 576px) {
    padding-right: 0px;
    padding-left: 0px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    padding-right: 12px;
    padding-left: 0px;
    &:nth-child(2n) {
      padding-left: 12px;
      padding-right: 0px;
    }
  }

  @media (min-width: 992px) {
    padding-right: 24px;
    padding-left: 0px;
    &:nth-child(3n) {
      padding-right: 0px;
    }
  }
}

// talent/:id

.talent-show-h6 {
  border: 1px solid #000000;
  box-shadow: 4.39149px 4.39149px 0px #000000;
  border-radius: 1px;
}

.tal-reward-amount {
  border-radius: 25px;
  background-color: #2796fe3e;
  color: $blue;
}

@media (min-width: 992px) {
  .talent-content-body-700 {
    max-width: 700px;
  }
  .talent-content-body-1200 {
    max-width: 1200px;
  }
  .tal-content-side-500 {
    max-width: 500px;
  }
}

.talent-profile-video-player {
  width: 250px;
  height: 140px;

  @media (min-width: 576px) {
    width: 350px;
    height: 200px;
  }

  @media (min-width: 768px) {
    height: 340px;
    width: 600px;
  }

  @media (min-width: 992px) {
    height: 220px;
    width: 400px;
  }

  @media (min-width: 1200px) {
    height: 280px;
    width: 500px;
  }

  @media (min-width: 1500px) {
    height: 340px;
    width: 600px;
  }
}

.talent-search-icon {
  position: absolute;
  top: 1px;
}

.text-white-space-wrap {
  white-space: pre-wrap;
}

.talent-video-height {
  height: 61%;
}

.active-talent-table-tab {
  border-bottom: 1px solid $primary !important;
  font-weight: 700;
  color: $gray-800 !important;
}

.dark-body .active-talent-table-tab {
  color: $white !important;
}

.talent-table-tabs {
  border-bottom: 1px solid $light;
}

.talent-table-tab {
  cursor: pointer;
  padding-bottom: 16px;
  margin-right: 24px;
  color: $gray-400;

  &:hover {
    color: $gray-800;
  }
}

.dark-body .talent-table-tabs {
  border-bottom: 1px solid $gray-600;
}

.dark-body .talent-table-tab {
  color: $gray-300;

  &:hover {
    color: $white;
  }
}

.table-hover {
  cursor: pointer;
}

.uppy-Root {
  position: inherit;
}

.edit-profile-fixed-bar {
  position: fixed;
  width: calc(100% - 220px);
  background-color: $white;
}

.dark-body .edit-profile-fixed-bar {
  background-color: $bg-01;
}

.edit-profile-public-check {
  fill: $green-500;
  color: $surface-hover;
}

.dark-body .edit-profile-public-check {
  color: $bg-01;
}

.edit-profile-talent-progress {
  background: rgba($primary, 0.2);
}

.edit-profile-content {
  max-width: 568px;
}

.dark-body .uppy-FileInput-input {
  color: $white;
}

.light-body .uppy-FileInput-input {
  color: $black;
}

.uppy-FileInput-btn {
  background-color: $primary;
  color: $white;
  border: 1px solid $primary;
  border-radius: 4px;
  font-weight: 700;
  &:hover {
    background: rgba($primary, 0.8);
  }
}
