@import "../bootstrap/overrides";
@import "~bootstrap/scss/variables";


.user-menu-dropdown-btn {
  background-color: $light;
  border: 0px;
  color: $black;

  &:hover {
    background-color: $light ;
    color: $black ;
  }

  &:focus {
    background-color: $light ;
    color: $black ;
    box-shadow: none ;
  }

  &:active {
    background-color: $light ;
    color: $black ;
  }

  &.dark {
    color: $white ;
    background-color: $gray-600 ;
  }
}

.user-menu-dropdown {
  background-color: $light !important;
  color: $black !important;
  min-width: 230px;
  padding: 8px 16px;

  &.dark {
    color: $white !important;
    background-color: $gray-600 !important;
  }
}

.dropdown-toggle.no-caret:after {
  display: none;
}

.user-menu-dropdown-item {
  padding: 0.25rem 0;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  &:hover {
    background: $surface-hover !important;
  }
}

.dark-body .user-menu-dropdown-item {
  &:hover {
    background: $gray-400 !important;
  }
}

.user-menu-divider {
  border-top: 1px solid $gray-400;
}

.modal-content, .modal-dialog {
  background-color: $white;
}

.dark-body .modal-dialog {
  background-color: $gray-900;
}

.dark-body .modal-content {
  background-color: $gray-900;
}