@import "../bootstrap/overrides";
@import "~bootstrap/scss/variables";


.user-menu-dropdown-btn {
  background-color: $light !important;
  border-color: $light !important;
  color: $black !important;

  &:hover {
    background-color: $light !important;
    border-color: $light !important;
    color: $black !important;
  }

  &:focus {
    background-color: $light !important;
    border-color: $light !important;
    color: $black !important;
    box-shadow: none !important;
  }

  &:active {
    background-color: $light !important;
    border-color: $light !important;
    color: $black !important;
  }
}

.dropdown-toggle.no-caret:after {
  display: none;
}

.text-black {
  color: $black;
}