.notifications-menu {
  width: 365px;
  max-height: 425px;
  overflow-y: auto;
}

.notifications-unread-icon  {
  position: relative;
  top: -10px;
  right: 9px;
  border: 4px solid #7A55FF;
  border-radius: 50%;
  font-size: 0px;
}

.notification-unread-icon  {
  position: relative;
  top: 5px;
  right: 10px;
  border: 4px solid #7A55FF;
  border-radius: 50%;
  font-size: 0px;
}
