<div class="container">
  <h1>Admin Area</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Count</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Investors</th>
        <th scope="row"><%= @investor_count %></th>
        <td><%= react_component("Button", props: { type: "primary", href: admin_investors_path, text: "Manage"}, prerender: false) %></td>
      </tr>
      <tr>
        <th scope="row">Talent</th>
        <th scope="row"><%= @talent_count %></th>
        <td><%= react_component("Button", props: { type: "primary", href: admin_talent_index_path, text: "Manage"}, prerender: false) %></td>
      </tr>
    </tbody>
  </table>
</div>
